.container{
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3C3F50;
}
.container header{
  display: flex;
  width: 100%;
  justify-content: start;
}
.main_container{
  width: 70%;
}

.container .main_content{
  width: 100%;
  border-radius: 16px;
  /* box-shadow: 7px 3px 36px -21px rgba(51,51,51,0.67); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column; */
  gap: 4px;
}
.main_content .option_card{
  display: flex;
  background-color: #fff;
  padding: 24px 0;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 3px 3px 10px 1px rgba(220, 220, 220, 0.67);
}

.main_content .option_card input{
  border-radius: 12px;
  padding: 2px 4px;
  border: solid 1px #333;
  font-weight: 700;
  width: 80px;
  margin: 2px;
}

.main_content .option_card > div:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}
.main_content .option_card > div:last-child{
  margin-left: 24px;
}
.main_content .option_card > div:last-child h2{
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.main_content .option_card > div:last-child > div{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.container .footer__buttons{
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
.container .footer__buttons button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.container .footer__buttons > a button{
  background-color: #ff4242;
}
.container .footer__buttons > button:last-child{
  background-color: #3C3F50;
}
.container .footer__buttons button:hover{
  filter: opacity(0.7);
}

@media (max-width: 600px) {
  .container .main_container{
    width: 100%;
  }
}